.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  background-color: black;
  color: white;
}

.logo {
  font-size: 24px;
}

.logo a {
  text-decoration: none;
  color: inherit;
}

.menu {
  display: flex;
  gap: 20px;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: inherit;
}

.menu li {
  cursor: pointer;
}

.cart {
  font-size: 20px;
}